body {
    background-color: #000000000;
    text-align: center; 
    font-family: Veranda, Geneva, Tahoma;
}

header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

link--cta {
    font-size: 16 px;
    color: aquamarine;
}